/* =========================
   CSS RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove arrows from input */

/* Chrome, Edge, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
/* =========================
   BODY
========================= */

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( 135deg, #8e2de2,#4a00e0);
  padding: 20px;
}

/* =========================
   CONTAINER
========================= */

.container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* =========================
   HEADINGS
========================= */

h1 {
  font-size: 2.2rem;
  color: #007bff;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 25px;
}

/* =========================
   INPUT
========================= */

input {
  width: 100%;
  padding: 14px;
  font-size: 1.1rem;
  border: 2px solid #4facfe;
  border-radius: 12px;
  margin-bottom: 20px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #151516;
}

/* =========================
   BUTTON
========================= */

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* =========================
   MESSAGE
========================= */

#message {
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: bold;
  min-height: 30px;
  color: #222;
}

/* =========================
   ATTEMPTS
========================= */

#attempts {
  margin-top: 15px;
  color: #555;
  font-size: 1rem;
}

/* =========================
   TABLET RESPONSIVE
========================= */

@media (max-width: 768px) {
  .container {
    padding: 35px 25px;
  }

  h1 {
    font-size: 2rem;
  }

  input,
  button {
    font-size: 1rem;
  }
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 480px) {
  .container {
    padding: 30px 20px;

    border-radius: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }

  input,
  button {
    padding: 12px;

    font-size: 0.95rem;
  }

  #message {
    font-size: 0.95rem;
  }
}
